<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>title</title>
		<link rel="stylesheet" href="../../css/bulma.min.css">

	</head>

	<body>
		<header>
		
        <nav class="navbar is-fixed-top is-success is-size-5" role="navigation">
				<div class="navbar-brand">
					<a class="navbar-item">
						Brand
					</a>
					
					<!--Botón para el menú de hamburguesa-->
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" id="botonRegresarAnterior">
							<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
							</svg>
							&nbsp;Return
						</a>
						<a class="navbar-item" id="editCustomerButton">
							<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							</svg>
							&nbsp;Edit
						</a>
							<a class="navbar-item" id="topUpNavbar">
							<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
							  <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
							  <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
							</svg>
								&nbsp;Top-Up
							</a>
					</div>
                    
                    <div class="navbar-end">
						<div class="navbar-item">
							<a class="button is-danger is-inverted is-outlined" id="deleteUserButton">
								<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
								&nbsp;Delete user
							</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- page content -->
		
		<section class="section" id="pageContent">
			<div class="tile is-ancestor" id="profileInformation">
			</div>
			
			<div class="box" id="ordersList">
				<div class="content">
					<h3>Orders</h3>
				</div>
			</div>
		</section>

		<!--Modal, usos múltiples-->
		<div class="modal" id="modalDeleteUser">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title" id="modalTitle">Delete user</p>
				</header>
				<section class="modal-card-body" id="messageBox">
					Warning. Are you sure you want to delete this customer from the database?
				</section>
				
				<div class="modal-card-foot" id="footerModal">
					<button class="button is-link" id="buttonGoBack">No, go back.</button>
					<button class="button is-danger" id="buttonConfirmDelete">Yes, delete.</button>
				</div>
			</div>
		</div>

		<!-- page content -->
		<script src="../../js/customer_profile.js"></script>		
		<link rel="stylesheet" href="../../css/custom_sub.css">
	</body>

</html>
