<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'">
		
		<title>title</title>
		<link href="../../css/bootstrap.css" rel="stylesheet">
		
		<style>
			body 
			{ 
				padding-top: 70px; 
			}

			nav .navbar-nav li a
			{
				color: #FFFFFF !important;
			}
			
			nav .navbar-nav li a:hover
			{
				color: #C5D6C7 !important;
			}
		</style>
		
	</head>

	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1b5e20;" >
				
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtons" aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				
				<a class="navbar-brand" href="#">Brand</a>
				
				<div class="collapse navbar-collapse" id="navbarButtons">
					<!-- Botones que van en la barra de herramientas -->
					
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="">
								<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
								  <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
								  <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
								</svg>
								Exit without saving
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="">
								<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-badge" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v11.755S4 12 8 12s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
									<path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
								</svg>
								Edit Membership Info.
							</a>
						</li>
					</ul>
					
					<!-- Botones que van en la barra de herramientas -->
				</div>
			</nav>
		</header>
		<!-- page content -->
		
		<div class="container">

			<div id="validationWarnings">
			</div>
	
			<h2>Add new customer</h2>
			
				<form>
					<div class="row">
						
						<div class="col">
							<div class="form-group">
								<label for="customerName">Name</label>
								<input type="text" class="form-control" id="inputCustomerName" name="nombreCliente">
							</div>
						</div>
						
						<div class="col">
							<div class="custom-control custom-radio">
							  <input type="radio" id="tratamientoCliente1" name="tratamientoCliente" class="custom-control-input" value="小姐">
							  <label class="custom-control-label" for="tratamientoCliente1">小姐</label>
							</div>
							<div class="custom-control custom-radio">
							  <input type="radio" id="tratamientoCliente2" name="tratamientoCliente" class="custom-control-input" value="先生">
							  <label class="custom-control-label" for="tratamientoCliente2">先生</label>
							</div>
							<div class="custom-control custom-radio">
							  <input type="radio" id="tratamientoCliente3" name="tratamientoCliente" class="custom-control-input" value="-" checked>
							  <label class="custom-control-label" for="tratamientoCliente3">-</label>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="customerAddress">Address</label>
						<input type="text" class="form-control" id="customerAddress" name="direccionCliente">
					</div>
					<div class="form-group">
						<label for="customerPhone">Phone Number</label>
						<input type="tel" class="form-control" id="customerPhone" name="telefonoCliente">
					</div>
	
					<div class="form-group row">
						<label for="staticMembershpType" class="col-sm-2 col-form-label">Membership Type</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control-plaintext" id="staticMembershpType" value="">
						</div>
					</div>
	
					<div class="form-group row">
						<label for="staticBalanceInfo" class="col-sm-2 col-form-label">eCash Balance</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control-plaintext" id="staticBalanceInfo" value="">
							<p id="emailHelp" class="form-text text-muted">Note: The balance of the account is updated in every transaction. In order to edit the balance of the user, click the button "top-up."</p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="customerNotesField">Customer remarks</label>
						<textarea class="form-control" id="customerNotesField" rows="3"></textarea>
					</div>
				</form>
	
				<button class="btn btn-primary" id="sendDataButton">Update customer information</button>
			
			</div>
			
			<!-- page content -->
	
			<!-- Modal para confirmar la entrada de datos a la BBDD -->
			<div class="modal fade" id="modalDBSuccess" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="modalDBSuccessLabel">Modal title</h5>
					</div>
					<div class="modal-body">
					Client information saved successfully!
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="index.html" role="button">Understood</a>
					</div>
				  </div>
				</div>
			  </div>		
		<!-- page content -->
		<script src="../../js/edit_customer.js"></script>
		<script> var $ = jQuery = require("jquery"); </script>
		<script src="../../js/popper.min.js" integrity="sha384-uLHxgwX6ZvC6FoWIhzkulUpK8rYAiK30nm034ygkllTGvodI+uL6V5an1iTvrLIL"></script>
		<script src="../../js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"></script>
	</body>

</html>
