<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>title</title>
		<link rel="stylesheet" href="../../css/bulma.min.css">

	</head>

	<body>
		<header>
		
        <nav class="navbar is-fixed-top is-success is-size-5" role="navigation">
				<div class="navbar-brand">
					<a class="navbar-item">
						Brand
					</a>
					
					<!--Botón para el menú de hamburguesa-->
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" id="botonRegresarAnterior">
							<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
							</svg>
							&nbsp;Return
						</a>
					</div>
                    
                    <div class="navbar-end">
					</div>
				</div>
			</nav>
		</header>
		<!-- page content -->
		
		<section class="section">
			<div class="content" id="pageHeader"></div>
			<div class="field" id="topUpField">
			
				<label for="customerIDShow">Customer ID</label>
				<div class="control">
					<input type="text" readonly class="input is-static" id="customerIDShow" value="0">
				</div>
			
				<label for="membershipSelector">Membership type</label>
				<div class="control">
					<div class="select">
						<select id="membershipSelector" name="tipoMembresia">
						</select>
					</div>
				</div>

				<label for="benefitsShow">Current balance</label>
				<div class="control">
					<input type="text" readonly class="input is-static" id="balanceShow" value="0">
				</div>
				
				<label for="benefitsShow">Added ammount</label>
				<div class="control">
					<input type="text" readonly class="input is-static" id="benefitsShow" value="0">
				</div>
				
				<label for="benefitsShow">New Balance</label>
				<div class="control">
					<input type="text" readonly class="input is-static" id="newBalanceShow" value="0">
				</div>
				<i><strong>Note:</strong> When the user's balance reaches zero, the system will automatically change the type of membershp to "no membership".</i>
			</div>
			
			<button class="button is-link" id="sendDataButton">Update data</button>
			
		</section>

		<!--Modal, usos múltiples-->
		<div class="modal" id="modalVariosUsos">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title" id="modalTitle"></p>
				</header>
				<section class="modal-card-body" id="messageBox">
				</section>
				
				<div class="modal-card-foot" id="footerModal">
					<button class="button is-danger is-light" id="buttonReturnClientList">Return to client list</button>
					<button class="button is-link" id="buttonContinueEditing">Continue editing</button>
					<button class="button is-info" id="buttonCloseModal">Understood</button>
				</div>
			</div>
		</div>

		<!-- page content -->
		<script src="../../js/customer_topup.js"></script>		
		<link rel="stylesheet" href="../../css/custom_sub.css">
	</body>

</html>
