<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-N6194bBolX+7kWFnU5GvkgkdBrCuykw0H0b+YvVkGx0='">
		
		<title>title</title>
		<link href="../../css/bootstrap.css" rel="stylesheet">
		
		<style>
			body 
			{ 
				padding-top: 70px; 
			}

			nav .navbar-nav li a
			{
				color: #FFFFFF !important;
			}
			
			nav .navbar-nav li a:hover
			{
				color: #C5D6C7 !important;
			}
		</style>
		
	</head>

	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1b5e20;" >
				
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtons" aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				
				<a class="navbar-brand" href="#">Brand</a>
				
				<div class="collapse navbar-collapse" id="navbarButtons">
					<!-- Botones que van en la barra de herramientas -->
					
					<!-- Botones que van en la barra de herramientas -->
				</div>
			</nav>
		</header>
		<!-- page content -->
		
		<div class="container">

			<div class="row">
				<!-- Dentro de este van los "cols" necesarios -->
				
				<!-- Dentro de este van los "cols" necesarios -->
			</div>

		</div>
		
		<!-- page content -->
		
		<script> var $ = jQuery = require("jquery"); </script>
		<script src="../../js/popper.min.js" integrity="uLHxgwX6ZvC6FoWIhzkulUpK8rYAiK30nm034ygkllTGvodI+uL6V5an1iTvrLIL"></script>
		<script src="../../js/bootstrap.min.js" integrity="XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"></script>
	</body>

</html>
