<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="script-src 'sha256-N6194bBolX+7kWFnU5GvkgkdBrCuykw0H0b+YvVkGx0=' 'self';" />
		
		<title>title</title>
		<link rel="stylesheet" href="style.css">
		<link href="../../css/bootstrap.css" rel="stylesheet">
		
		<style>
			body 
			{ 
				padding-top: 70px; 
			}
		</style>
		
	</head>
	
	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0d47a1;" >
				
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtons" aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Botón para mostrar los elementos en caso de que la ventana se redimensione -->
				
				<a class="navbar-brand" href="#">Brand</a>
				
				<div class="collapse navbar-collapse" id="navbarButtons">
					<!-- Botones que van en la barra de herramientas -->
					
					<!-- Botones que van en la barra de herramientas -->
				</div>
			</nav>
		</header>
		<!-- page content -->
		
		<div class="container">

			<div class="row">
				<!-- Dentro de este van los "cols" necesarios -->
				
				<!-- Dentro de este van los "cols" necesarios -->
			</div>

		</div>
		
		<!-- page content -->
		
		<script src="../../js/jquery-3.5.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</body>

</html>
